.popup {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4) /* prve 3 nule su ti RGB, a 0.4 ti je opacity */
    
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.card{  

    width : 340px !important;
    height : max-content !important;
    background-color : white;
    padding : 15px;
    margin : 20px;
    float: left;
    background-repeat: no-repeat;   
    text-align:center ;  
    border-radius: 0px 0px 0px 0px !important; 

}

.cardnaslov{

    font-size: large;
    font-weight: bolder;
    padding:3px;


}

.cardimg{
    border-radius: 0px 0px 0px 15px;
    width:350px;
    height:300px;

}


.filter{
   
    background-color: rgb(211, 211, 211);
    padding-left: 850px;
    margin-bottom: 20px;
   
    
}

#wrapper{

    background-color: rgb(211, 211, 211);
    height:700px;
    padding-left:170px;
    overflow: scroll;
    max-height: 1200px; 
    align-items: baseline;


}

.zabrisanje{

    display: none !important;

}



.onama{
    position:absolute;
    left:40%;
}
.wishlist{
    position:absolute;
    left:56.5%;
}
.logoheader{
    height:90px;
    padding-bottom: 10px;

}
#zasliku{

    height:auto;
    overflow:hidden;
    max-height:90px;
    align-items: center;

}

#searchbar{
    border-radius: 25px;
}
#searchbutton{
    border-radius:50px;
    background-color:black;
    border:none;
}
#searchbutton:hover{
    background-color: black;

}

#slider-range{
    width:220px;
    height:15px;
    padding-left:5px;
}

#filteri{
    list-style-type:none;
    display: inline;
}

.mincijenali{
    width:60px;
    margin-left:30px;
    
}

.maxcijena{
    width:60px;
    margin-left:125px;
    margin-top:-61px;
}

.brsobali{
    width:90px;
    margin-left:220px;
    margin-top:-61px;
    
}

#botunforma{
    width:80px;
    margin-left:350px;
    margin-top:-61px;
    
}